{% extends 'base.html' %}

{% block content %}
<section>
    <div class="continer">
        <div class="formcontiner">
            <h1 style="text-align: center;">User Regesitration</h1> <br>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <p><input type="submit" name="" id=""></p>
            </form>
            <br>
            <div style="text-align: center;">
                <h3>If alreday have an account <a id="login" href="{% url 'login' %}">LogIn</a></h3>
            </div>
        </div>
    </div>
</section>
{% endblock content %}